.cont-us {
  width: 100%;
  height: 100%;
  background-image: url(../assets/contact.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.but {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.fg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  /* transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
  border-bottom: 1px solid;
  margin-bottom: 15px;
}

.modelbackground {
  width: 166vw;
  height: 173vh;
  background: rgba(0, 0, 0, 0.692);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modelcontainer {
  width: 500px;
  height: 300px;
  position: absolute;
  top: 100px;
  left: 18%;
  border-radius: 10px;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.tog svg {
  position: relative;
  /* right: 0; */
  left: 420px;
  /* bottom: 18px; */
  top: -30px;
}
@media screen and (max-width: 600px) {
  .modelcontainer {
    width: 300px;
    height: 300px;

    top: 106px;
    left: 22%;
  }
  .tog svg {
    left: 230px;
  }
}
