.cont-us {
  width: 100%;
  height: 100%;
  background-image: url(../assets/contact.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.but {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.fg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  /* transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
  border-bottom: 1px solid;
  margin-bottom: 15px;
}

/* .create-account-form input {
  width: 100%;
  margin-bottom: 18px;
}
.create-account-form {
  width: 500px;
  height: auto !important;
  position: relative;
  top: 80%;
  left: 0;
  transform: translate(-59%, -95%) !important;
  background: #00bcd4;
  padding: 20px 20px 20px 20px;
}
.create-account-form button {
  margin-top: 10px;
}
.create-account-form svg {
  position: absolute;
  top: 15px;
  right: 10px;
} */
.modelbackground {
  width: 163vw;
  height: 150vh;
  background: rgba(0, 0, 0, 0.692);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modelcontainer {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.tog svg {
  position: relative;
  /* right: 0; */
  left: 420px;
  /* bottom: 18px; */
  top: -30px;
}
