.ghgj {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 20px;
}

.text-section {
  flex: 1;
  padding: 20px;
  min-width: 300px;
}

.text-section h1 {
  font-size: 3em;
  margin: 10px 0;
}

.text-section p {
  color: #00ff00;
}

.countdown {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.countdown div {
  background: #fff;
  color: #000;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.button {
  background-color: #00ff00;
  color: #000;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}

.image-section img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .text-section,
  .image-section {
    flex: none;
    width: 100%;
    text-align: center;
  }

  .text-section h1 {
    text-align: center;
    font-size: 30px;
  }
  .text-section p {
    text-align: center;
  }

  .countdown {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}
