.section {
  padding: 40px 20px 40px 20px;
}
.col-lg-12.gh {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  padding-bottom: 20px;
}
.flash-center {
  background: red;
  width: 10px;
  height: 25px;
  border-radius: 5px;
}

.col-lg-12.fgh {
  display: flex;
  align-items: center;
  justify-content: start;
}
ul.list-icons {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 36px;
}
ul.list-icons li {
  color: black;
  font-weight: 700;
  font-size: 14px;
}
ul.list-icondd {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 22px;
  justify-content: flex-start;
}
ul.list-icondd li {
  font-weight: 900 !important;
}
.arrow svg {
  width: 60px;
  height: 40px;
}
/* .arrow {
  display: flex;
  align-items: center;
  justify-content: start;
} */
.flash-section img {
  /* background-image: url(../assets/flash1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  width: 100%;
  height: 100%;
}
.flash-section {
  background: #9e9e9e42;
  padding-left: 20px !important;
  position: relative;
  /* width: 262px; */
}
.sub-flash {
  position: absolute;
  top: 10px;
  left: 10px;
}
.sub1-flash {
  position: absolute;
  top: 10px;
  right: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  /* width: 30px; */
}
.sub-flash span {
  padding: 3px 8px;
  background: #ff0000b8;
  border-radius: 5px;
  color: white;
}
.sub1-flash svg {
  width: 22px;
  height: 30px;
}
h1 {
  font-size: 36px;
}
svg.bg {
  background: white;
  border-radius: 50%;
  height: 25px;
  padding: 2px;
}
svg.bg1 {
  background: white;
  border-radius: 50%;
  height: 25px;
  padding: 2px;
}
.flash-head {
  padding-top: 60px !important;
  padding-bottom: 20px;
}
.head1 {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 30px;
}
.head2 {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
}
.sd {
  color: #ffc107;
  display: flex;
  align-items: center;
  justify-content: center;
}
.head1 span {
  color: red;
}
span.cut {
  color: black;
  text-decoration-line: line-through;
}

.but1 {
  text-align: center;
  padding: 30px;
}
.but1 button {
  padding: 15px;
  background: #f15264;
  border: none;
}
span.ghdf {
  position: absolute;
  background: black;
  color: white;
  /* display: inline-block; */
  padding: 10px;

  width: 100%;

  text-align: center;
}

@media screen and (max-width: 576px) {
  ul.list-icons li {
    font-size: 10px;
  }
  h1.h-one {
    font-size: 18px;
  }
  .arrow svg {
    display: none;
  }
  ul.list-icondd li h2 {
    font-size: 16px;
  }
  ul.list-icons {
    gap: 18px;
  }
  ul.list-icondd {
    gap: 18px;
  }
}

.figure-out {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart {
  position: relative;
}
