button.bn svg {
  margin-left: 15px;
}
button.bn {
  padding: 10px;
  font-size: 14px;
  background: gray;
}
.section.sec-fluid {
  background: black;
  padding: 40px 0px 0px 0px;
}

span.fr {
  font-size: 12px;
  padding-bottom: 10px;
}
ul.ghh {
  list-style: disc;
  font-size: 12px;
  line-height: 2.5;
}
h5.fg {
  padding-bottom: 15px;
}
.qr img {
  width: 70px;
  height: 70px;
}
.gp img {
  width: 110px;
  height: 50px;
  border: 1px solid;
  margin-bottom: 10px;
  padding: 0px;
}
.gp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.memo {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 30px;
}
.bmv {
  text-align: center;
  color: white;
}
@media screen and (max-width: 768px) {
  button.bn {
    padding: 2px;
  }
  h5.fg {
    padding: 15px;
  }
}
