.arrow svg {
  width: 60px;
  height: 40px;
}
.arrow {
  display: flex;
  align-items: center;
  justify-content: end;
}
.flash-section img {
  /* background-image: url(../assets/flash1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
  width: 100%;
  height: 100%;
}
.flash-section {
  background: #9e9e9e42;
  padding-left: 40px;
  position: relative;
}
.sub-flash {
  position: absolute;
  top: 10px;
}
.sub1-flash {
  position: absolute;
  top: 10px;
  right: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  /* width: 30px; */
}
.sub1-flash svg {
  width: 100%;
  height: 100%;
}
svg.bg {
  background: white;
  border-radius: 50%;
  height: 25px;
  padding: 2px;
}
svg.bg1 {
  background: white;
  border-radius: 50%;
  height: 25px;
  padding: 2px;
}
.flash-head {
  padding-top: 50px !important;
}
.head1 {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 30px;
}
.head2 {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
}
.sd {
  color: #ffc107;
}
.head1 span {
  color: red;
}
span.cut {
  color: black;
  text-decoration-line: line-through;
}
.arrow button {
  background: #e71b1bc7;
  padding: 10px 30px 10px 30px;
  color: white;
  border: none;
  border-radius: 5px;
}
.flash-head p {
  font-weight: 600;
}
h1 {
  font-size: 36px;
}
.right-cat img {
  width: 100%;
  height: 100%;
}
.left-cat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.main-cat {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}
span.fg {
  color: #00ff66;
  font-size: 16px;
}
.left1 h1 {
  font-size: 48px;
  color: white;
  padding: 10px;
  font-weight: 500;
}
.ths {
  background: white;
  border-radius: 50%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75px;
}
.time {
  display: inline-block;
}
span.hjs {
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 5px;
}
.ths h2 {
  font-size: 22px;
  /* padding-top: 6px; */
  margin-bottom: 0px;
}
.button1 button {
  margin-top: 40px;
  background: #00ff52;
  padding: 20px 40px 20px 40px;
  border-radius: 5px;
}
.time {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 60px;
}
.honda {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px 20px 0px;
}
@media screen and (max-width: 576px) {
  h1 {
    font-size: 20px;
  }
  .arrow button {
    padding: 8px 10px 8px 10px;
    font-size: 12px;
  }
}
